numpy~=1.24.4
scipy~=1.11.2
pandas~=2.1.0
tqdm~=4.66.3
scikit-learn==1.5.0
dython~=0.7.4
pytest~=7.4.2
setuptools~=70.0.0
matplotlib==3.8.0

pmlb~=1.0.1
openml~=0.14.1
clustering-benchmarks~=1.1.1

gower~=0.1.2

hdbscan~=0.8.33
kneed~=0.8.5
Cython~=3.0.2
optuna~=3.3.0
catboost==1.2.2
imblearn~=0.0
lightgbm~=4.1.0
tabpfn~=0.1.9
xgboost~=2.0.0
natsort~=8.4.0
genieclust~=1.1.4

rarfile~=4.1
